@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
* {
    font-family: "Instrument Sans", sans-serif;
}
.menu {
    background-image: linear-gradient(#0E2A33, transparent);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    position: absolute;

    &  .opcoesR {
        padding-right: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 20%;
    }
    
    & .opcoesL {
        padding-left: 6%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 40%;
    }
    
    & .opcoesL a{
        align-self: center;
        text-decoration: none;
        color: white;
    }
    
    & .opcoesR a{
        text-decoration: none;
        color: white;
    }
    & img {
        width: 150px;
        height: 150px;
    }
}
html{
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    height: 100%;
    & .container{
        width: 100%;
        height: 100%;
        background-image: url(../assets/under-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        align-items: center;
    }
    & .text {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        width: 30%;
        height: 80%;
        background-color: #0E2A33;
        border-radius: 2% 2% 2% 2% / 2% 2% 2% 2%;
    }
    & input {
        border: none;
        padding-left: 2%;
        padding-right: 2%;
        background-color: #A2D7E8;
        height: 6%;
        width: 61%;
        border-radius: 2% 2% 2% 2% / 13% 13% 13% 13%;
        font-size: 20px;
    }
    & button {
        margin: 5%;
        border: none;
        width: 25%;
        height: 6%;
        background-color: #A2D7E8;
        color: #0E2A33;
        font-weight: bold;
        border-radius: 4% 4% 4% 4% / 17% 17% 17% 17%;
    }
    & p {
        font-size: 20px;
        justify-self: left;
        width: 62%;
        margin-bottom: 0;
    }
    & h1 {
        font-weight: bold;
        font-size: 40px;
    }
}