@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
* {
    font-family: "Instrument Sans", sans-serif;
}
.menu {
    background-image: linear-gradient(#3F2E0D, transparent);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    position: absolute;

    &  .opcoesR {
        padding-right: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 20%;
    }
    
    & .opcoesL {
        padding-left: 6%;
        display: flex;
        flex-direction: row;
        width: 40%;
    }
    
    & .opcoesL a{
        align-self: center;
        text-decoration: none;
    }
    
    & .opcoesR a{
        text-decoration: none;
    }
    & img {
        width: 150px;
        height: 150px;
    }
    & .inOut {
        color: #0E2A33;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #A2D7E8;
        border-radius: 10px;
        width: 30%;
        height: 40px;
        font-size: 16px;
    }
    & .normal {
        color: white;
    }
}
html{
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    height: 100%;
    & .container{
        width: 100%;
        height: 100%;
        background-image: url(../assets/fish-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        align-items: center;
        & .text {
            margin-top: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            width: 75%;
            height: 75%;
            background-color: #0e2a33ce;
            border-radius: 10px;
        }
        & .text p{
            font-size: 20px;
        }
        & .text h1{
            font-size: 80px;
        }
        & .indicadores {
            width: 90%;
            height: 65%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        & .criaturasMensal{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #A2D7E8;
            width: 50%;
            height: 100%;
            border-radius: 10px;
            & h2{
                text-align: center;
                color: #0E2A33;
                margin-top: 5%;
                margin-bottom: 10%;
                margin-left: 20%;
                margin-right: 20%;
            }
        }
        & .grafico{
            width: 80%;
            height: 70%;
        }
        & .criaturasVistas{
            background-color: #A2D7E8;
            width: 20%;
            height: 100%;
            border-radius: 10px;
        }
        & .ultimasCriaturas{
            background-color: #A2D7E8;
            width: 20%;
            height: 100%;
            border-radius: 10px;
        }
    }
}