@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: "Instrument Sans", sans-serif;
}

.menu {
    background-image: linear-gradient(#3F2E0D, transparent);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    position: absolute;

    & .opcoesR {
        padding-right: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 20%;
    }

    & .opcoesL {
        padding-left: 6%;
        display: flex;
        flex-direction: row;
        width: 40%;
    }

    & .opcoesL a {
        align-self: center;
        text-decoration: none;
    }

    & .opcoesR a {
        text-decoration: none;
    }

    & img {
        width: 150px;
        height: 150px;
    }

    & .inOut {
        color: #0E2A33;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #A2D7E8;
        border-radius: 10px;
        width: 30%;
        height: 40px;
        font-size: 16px;
    }

    & .normal {
        color: white;
    }
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;

    & .popup {
        background-color: #0e2a33ce;
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        & .form {
            background-color: #A2D7E8;
            height: 70%;
            width: 40%;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            & .botao {
                height: 10%;
                width: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
                align-self: flex-end;
                justify-self: start;
                & button {
                    border: none;
                    background-color: #0E2A33;
                    color: white;
                    border-radius: 8px;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }
            & .registrar {
                display: none;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 80%;
                height: 90%;
                & .selecione {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 90%;
                    & .criatura{
                        margin-left: 1%;
                        margin-right: 1%;
                        height: 60%;
                        border: none;
                        border-radius: 7px;
                        background-color: #3F5E69;
                        color: white;
                        text-align: center;
                    }
                    & button {
                        background-color: #0E2A33;
                        border: none;
                        color: white;
                        height: 60%;
                        width: 20%;
                        border-radius: 10px;
                        cursor: pointer;
                    }
                }
            }
            & .cadastro {
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 45%;
                height: 90%;
                & input {
                    background-color: #0E2A33;
                    border: none;
                    height: 40%;
                    border-radius: 8px;
                    padding-left: 5%;
                    padding-right: 5%;
                    color: white;
                }
                & button {
                    background-color: #0E2A33;
                    border: none;
                    color: white;
                    height: 8%;
                    width: 20%;
                    border-radius: 10px;
                    cursor: pointer;
                    margin-top: 5%;
                }
                & .inp {
                    width: 80%;
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: center;
                    height: 10%;
                    & .sub{
                        width: 100%;
                        height: 100%;
                        & p{
                            margin-bottom: 0;
                        }
                        & .um{
                            width: 50%;
                        }
                    }
                    & .dois {
                        width: 33%;
                        & input {
                            width: 70%;
                        }
                    }
                }
                & .tres {
                    width: 80%;
                    height: 10%;
                    & p{
                        margin-bottom: 0;
                    }
                }
                & .quatro {
                    width: 80%;
                    height: 10%;
                    & p{
                        margin-bottom: 0;
                    }
                    & input {
                        width: 80%;
                    }
                    }
                }
            }
        }
    }

    & .container {
        width: 100%;
        height: 100%;
        background-image: url(../assets/fish-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        align-items: center;

        & .text {
            margin-top: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            width: 75%;
            height: 75%;
            background-color: #0e2a33ce;
            border-radius: 10px;
        }

        & .text p {
            font-size: 20px;
        }

        & .text h1 {
            font-size: 80px;
        }

        & .indicadores {
            width: 90%;
            height: 65%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        & .criaturasMensal {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #A2D7E8;
            width: 50%;
            height: 100%;
            border-radius: 10px;

            & h2 {
                text-align: center;
                color: #0E2A33;
                margin-top: 5%;
                margin-bottom: 10%;
                margin-left: 20%;
                margin-right: 20%;
            }
        }

        & .grafico {
            width: 80%;
            height: 70%;
        }

        & .criaturasVistas {
            background-color: #A2D7E8;
            width: 20%;
            height: 100%;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & p {
                color: #0E2A33;
                font-size: 36px;
            }
            
            & h3 {
                color: #0E2A33;
                font-size: 64px;
                margin: 0;
            }
            
            & h4 {
                color: #0E2A33;
                margin: 0;
            }
        }

        & .ultimasCriaturas {
            background-color: #A2D7E8;
            width: 20%;
            height: 100%;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-self: center;

            & h2 {
                text-align: center;
                color: #0E2A33;
            }
            
            & p {
                width: 80%;
                text-align: center;
                margin-top: 2%;
                color: #0E2A33;
                font-size: 17px;
            }

            & button {
                border: none;
                background-color: #0E2A33;
                color: white;
                font-size: 25px;
                border-radius: 10px;
                width: 80%;
                height: 17%;
                cursor: pointer;
            }
        }
    }